.App {
  text-align: center;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 6px;
  border-radius: 4px;
}

.custom-popup {
  z-index: 999;
}
